@import '../../../styles/settings.scss';

.discount {
	margin-bottom: 3rem;
	padding: 1.3rem 0;
	text-align: center;
	height: 5.5rem;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	button {
		width: 30%;
		height: 100%;
		font-size: $base-size * 1.5;
	}
}
.discount-text {
	display: flex;
	justify-content: center;
	align-items: center;
}
.discount-code {
	font-size: 1.4rem;
	font-weight: bold;
	width: 10rem;
	text-align: center;
	margin-left: 1rem;
}