@import '../../../styles/settings.scss';

.discount {
	margin-bottom: 2.8rem;
	padding: 1.3rem 0;
	text-align: center;
	height: 5.5rem;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	button {
		width: 30%;
		height: 100%;
		font-size: $base-size * 1.5;
	}
	&-text {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-code {
		font-size: 1.4rem;
		font-weight: bold;
		width: 10rem;
		text-align: center;
		margin-left: 1rem;
	}
}

@media (max-width: 767px) {
	.discount {
		height: 3rem;
		border: none;
		margin: 0;
		padding: 0;
		button {
			width: 80%;
			height: auto;
			font-size: $base-size;;
		}
		&-text, &-code {
			font-size: $base-size;
		}
	}
	.modal-title {
		font-size: $base-size;
	}
}