@import '../../../styles/settings.scss';

.storepolicy-wrapper {
	padding: 1rem;
	text-align: justify;
}
@media (max-width: 387px) {
	.storepolicy {
		text-align: center;
		.storepolicy-wrapper {
			font-size: $base-size;
		}
	}
	
}