@import '../../styles/settings.scss';

.discount {
	margin-bottom: 60px;
	padding: 20px 0;
	text-align: center;
	height: 5.5rem;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	button {
		width: 40%;
		height: 100%;
		font-size: $base-size * 1.5;
	}
}
.discount-code {
	font-weight: bold;
}