@import '../../../styles/settings.scss';

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	transition: .3s;
	.cart-icon {
		color: $color-text;
		font-size: $base-size * 2;
		margin-left: 1rem;
		&:hover {
			color: $color-light-blue;
		}
		&.active {
			color: $color-light-blue;
		}
	}
	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 767px) {
	.nav-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.cart-icon {
		display: none;
	}
	.burger {
		color: $color-text;
		font-size: $base-size * 1.8;
	}
	.burger.active {
		color: $color-light-blue;
	}
}