@import '../../../styles/settings.scss';

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 15px 20px 0 0;

  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: $base-size * 1.4;
    padding: 0;

    &__item {
      width: $base-size * 2;
      height: $base-size * 2;
      margin: $base-size / 2;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: .2s;
      color: $color-text-light;

      &:hover {
        color: $color-text;
      }

      &--active {
        color: $color-primary;
      }
    }
  }
}