@import '../../../styles/settings.scss';

.product-summary {
  margin: 1rem;
  transition: ease .2s;
  cursor: pointer;
  padding: 0;
  &:hover{
  	border-radius: $radius;
    box-shadow: 0 0 1.1rem rgba(0,0,0,0.2);
    transform: scale(1.08);
  } 
}
.badge {
  font-weight: normal;
  width: 4rem;
  font-size: $base-size;
  margin: 0.6rem 0.6rem 0 0.6rem;
}
.card-title {
  font-weight: bold;
  font-size: $base-size*1.1;
}
.card-subtitle {
  font-size: $base-size*1.1;
}
.non-badge {
  height: 31px; 
}