@import '../../../styles/settings.scss';
@import url('https://fonts.googleapis.com/css?family=Exo+2:800,900&display=swap');

.logo {
  font-family: 'Exo 2', sans-serif; 
  font-weight: 900;
  font-size: $base-size * 1.8;
  color: $color-text;
}
.burger {
	display: none;
}

@media (max-width: 767px) {
	.burger {
		display: inline-block;
	}
}