@import '../../../styles/settings.scss';

.single-product {
	font-size: $base-size * 1.2;
	.card-text {
		margin: 0.6rem 0;
	}
	.btn {
		width: 8rem;
		margin: 1.25rem;
	}
}

@media (max-width: 387px) {
	.single-product {
		text-align: center;
		.card-text {
			font-size: $base-size;
		}
	}
}