@import '../../../styles/settings.scss';

.main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  font-size: $base-size * 1.4;
  text-transform: uppercase;
  margin: 0;
  
  li {
    margin: 0 $base-size;
    a {
      border-bottom: 2px solid $color-text-bright;
      &:hover {
        border-bottom: 2px solid $color-light-blue;
      }
    }
  }
  
}