@import '../../../styles/settings.scss';

.main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  font-size: $base-size * 1.4;
  text-transform: uppercase;
  margin: 0;
  
  li {
    margin: 0 $base-size;
    .navlink {
      border-bottom: 2px solid $color-text-bright;
      &:hover {
        border-bottom: 2px solid $color-light-blue;
      }
    }
  }
  .cart {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-menu {
    opacity: 0;
    height: 0;
  }
  .mobile-menu {
    opacity: 1;
    height: auto;
    transition: opacity 1000ms ease;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    .cart {
      display: flex !important;
    }
    .navlink.active {
      border-bottom: 2px solid $color-light-blue;
    }
  }
}